// Importa o CSS do inter-ui
@import 'inter-ui/inter.css';

// Define a fonte Inter como padrão
html {
  font-family: "Inter", "system-ui";
}

// Se o navegador suportar fontes variáveis, usa a versão variável
@supports (font-variation-settings: normal) {
  html {
    font-family: "InterVariable", "system-ui";
  }
}

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

}

app-root {
  display: block;
  min-height: 100vh;
  width: 100%;
}